.day-picker {
  padding-left: 0px;
  padding-right: 0px;
  width: 280px;
  padding-top: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);

  border-radius: 10px;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.btn-container .cell:nth-child(10n + 1):hover ~ .content {
  --positionX: 0;
}
.btn-container .cell:nth-child(n + 1):nth-child(-n + 10):hover ~ .content {
  --positionY: 0;
}
.btn-container .cell:nth-child(10n + 2):hover ~ .content {
  --positionX: 1;
}
.btn-container .cell:nth-child(n + 11):nth-child(-n + 20):hover ~ .content {
  --positionY: 1;
}
.btn-container .cell:nth-child(10n + 3):hover ~ .content {
  --positionX: 2;
}
.btn-container .cell:nth-child(n + 21):nth-child(-n + 30):hover ~ .content {
  --positionY: 2;
}
.btn-container .cell:nth-child(10n + 4):hover ~ .content {
  --positionX: 3;
}
.btn-container .cell:nth-child(n + 31):nth-child(-n + 40):hover ~ .content {
  --positionY: 3;
}
.btn-container .cell:nth-child(10n + 5):hover ~ .content {
  --positionX: 4;
}
.btn-container .cell:nth-child(n + 41):nth-child(-n + 50):hover ~ .content {
  --positionY: 4;
}
.btn-container .cell:nth-child(10n + 6):hover ~ .content {
  --positionX: 5;
}
.btn-container .cell:nth-child(n + 51):nth-child(-n + 60):hover ~ .content {
  --positionY: 5;
}
.btn-container .cell:nth-child(10n + 7):hover ~ .content {
  --positionX: 6;
}
.btn-container .cell:nth-child(n + 61):nth-child(-n + 70):hover ~ .content {
  --positionY: 6;
}
.btn-container .cell:nth-child(10n + 8):hover ~ .content {
  --positionX: 7;
}
.btn-container .cell:nth-child(n + 71):nth-child(-n + 80):hover ~ .content {
  --positionY: 7;
}
.btn-container .cell:nth-child(10n + 9):hover ~ .content {
  --positionX: 8;
}
.btn-container .cell:nth-child(n + 81):nth-child(-n + 90):hover ~ .content {
  --positionY: 8;
}
.btn-container .cell:nth-child(10n + 10):hover ~ .content {
  --positionX: 9;
}
.btn-container .cell:nth-child(n + 91):nth-child(-n + 100):hover ~ .content {
  --positionY: 9;
}
.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content {
  --positionX: 0;
  --positionY: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%)
      calc((0 + var(--positionY, 0)) * 5%),
    #f1254b 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
}
.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.span {
  padding: 0 0;
  margin: 0 0;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
